@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Ledger&display=swap');

$bg-color: #fff8c2;

body {
  background-color: $bg-color;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-brand {
  font-family: 'Ledger', serif;
  font-size: 25px;
}

.dropdown-toggle::after {
  display: none;
}

.container {
  width: 1500px !important;
}
