@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body {
  background: url(images/bg-img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar-brand {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
}

.dropdown-toggle::after {
  display: none;
}